<div class="jumbotron jumbotron-fluid jumbotron--inline">
    {% block picture %}{% endblock %}
    {% block hero_overlay %}
        <div class="jumbotron__overlay"></div>
    {% endblock %}
    <div class="container">
        {% block jumbotron_content %}{% endblock %}
    </div>
</div>
