{% extends 'base.html.twig' %}

{% block title %}Forgot password ;({% endblock %}

{% block body %}
    <h2>Sowwy, this link is expired ^w^</h2>
    <a href="{{ path('app_security_forgot_password') }}">Click here to request a new link.</a>
{% endblock %}
