{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <h2>Register</h2>
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
