{% extends 'security/_security_page.html.twig' %}

{% set pageTitle = 'Account registreren' %}
{% set subTitle = 'Maak gemakkelijk en snel een account aan zodat je meetings kunt organiseren.' %}

{% block security_page_content %}
    <div class="col-12">
        {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit" class="btn btn-primary mb-20">Registreren</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
