{% extends 'security/_security_page.html.twig' %}

{% set pageTitle = 'Wachtwoord aanpassen' %}

{% block security_page_content %}
    <div class="col-12">
        {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit" class="btn btn-primary mb-20">Wachtwoord aanpassen</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
