<article class="event-card mb-20">
    <a href="{{ route }}" class="card card--action">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            {% if description is defined %}
                <p class="card-text">{{ description }}</p>
            {% endif %}
        </div>
    </a>
</article>
