.navbar {
  @include breakpoint($break-lg, false) {
    min-height: 70px;
  }

  .navbar-brand {
    width: 100%;

    @include breakpoint(false, $break-lg--min) {
      text-align: center;
    }

    img {
      width: 160px;
    }
  }
}
