.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pt-35 {
  padding-top: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pt-45 {
  padding-top: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pt-55 {
  padding-top: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  padding: 14px 16px;
  border-radius: 10px;
}
.btn.btn-primary {
  background-color: #F97A2b;
  border-color: #F97A2b;
  font-weight: 500;
}
.btn.btn-primary:hover {
  background-color: #d25406;
  border-color: #d25406;
}
.btn.btn-primary:not(:disabled):active {
  background-color: #fba975;
  border-color: #fba975;
}
.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(249, 122, 43, 0.5);
}
.btn.btn-primary .fas {
  color: #242A36;
}
.btn.btn-secondary {
  background-color: #242A36;
  border-color: #242A36;
  font-weight: 500;
}
.btn.btn-secondary:hover {
  background-color: #1a1e27;
  border-color: #1a1e27;
}
.btn.btn-secondary:not(:disabled):active {
  background-color: #2e3645;
  border-color: #2e3645;
}
.btn.btn-secondary .fas {
  color: #F97A2b;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (max-width: 575.98px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (max-width: 575.98px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (max-width: 575.98px) {
  h3 {
    font-size: 21px;
  }
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (max-width: 575.98px) {
  h4 {
    font-size: 16px;
  }
}

a {
  color: #F97A2b;
}
a:hover {
  color: #d25406;
}

p.color-subtle {
  color: #A1A1A1;
}
p.small {
  font-size: 14px;
}

.jumbotron {
  overflow: hidden;
  position: relative;
}
.jumbotron img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron .jumbotron__overlay {
  background: rgba(37, 11, 41, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (min-width: 992px) {
  .navbar {
    min-height: 70px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
.navbar .navbar-brand {
  width: 100%;
}
@media only screen and (max-width: 991.98px) {
  .navbar .navbar-brand {
    text-align: center;
  }
}
.navbar .navbar-brand img {
  width: 160px;
}

body {
  background: #101116;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=common.css.map */
