.card {
  background-color: $bg-content;
  border: none;
  border-radius: 0;
  color: $color-light;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px 2px;
    text-decoration: none;
  }

  .card-body {
    padding: 15px;

    .card-title {
      margin-bottom: 0;
    }

    .card-text {
      font-size: $font-size-small;
    }
  }

  &--action {
    background: $bg-content;
    color: $color-primary;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}

.event-card-container {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .event-card-wrapper {
    @include breakpoint(false, $break-md--min) {
      //TODO: make JS solution for the min-width being calculated by amount of events in 'card-wrapper'.
      min-width: 2500px;
      -webkit-backface-visibility: hidden;
    }

    .event-card {
      display: inline-block;
      width: 250px;
      margin-right: 10px;
      float: left;

      @include breakpoint($break-md, $break-lg--min) {
        width: calc(50% - 10px);
      }

      @include breakpoint($break-lg, $break-xl--min) {
        width: calc(33.33% - 10px);
      }

      @include breakpoint($break-xl, false) {
        width: calc(25% - 10px);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
