.card {
  border: none;
  border-radius: 0;
  color: $color-light;
  display: block;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;

  &:hover {
    border-bottom: 0;
    color: $color-secondary;
  }

  .card-img-top {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .card-img-overlay {
    background: linear-gradient(transparent, rgb(0 0 0 / 30%));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .card-title {
    align-self: flex-end;
    font-weight: $font-weight-bold;
    display: inline-block;
    margin: 15px 0 0;
  }

  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .fas {
      font-size: $font-size-h3;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .info {
    display: inline-block;
    margin-top: 15px;
  }

  @include breakpoint(false, $break-lg) {
    .info {
      font-size: $font-size-small;
      margin-right: 20px;
      margin-top: 10px;
    }

    .fas {
      font-size: $font-size-large;
    }
  }

  @include breakpoint($break-md, false) {
    height: 250px;
  }

  @include breakpoint($break-lg, false) {
    height: 350px;
    margin-bottom: 30px;

    .card-title {
      font-size: $font-size-h2;
    }

    .card-body {
      bottom: 10px;
    }

    .info {
      display: block;
    }

    .fas {
      text-align: center;
      width: 40px;
    }
  }
}
