.form-control {
  border-radius: 0;
  color: $color-dark;
  height: auto;
  padding: 8px 12px;

  &:focus {
    border-color: #1A2947;
    box-shadow: 0 0 0 1px #1A2947;
    color: $color-dark;
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    font-size: $font-size-small;
    font-weight: 500;
    margin-bottom: 0;
  }

  .form-check-label {
    font-size: $font-size-base;
    padding-left: 5px;
  }

  .form-check-input {
    height: 18px;
    margin-top: 2px;
    width: 18px;
  }

  .form-control {
    background: #F5F5F5;

    &:focus {
      background: $bg-light;
    }

    &:disabled {
      opacity: 0.25;
    }
  }
}

.was-validated {
  .invalid-feedback {
    font-size: 14px;
  }
}

button.inline-form-submit {
  display: block;
  margin: 5px 0 20px;
  width: 100%;

  @include breakpoint($break-md, false) {
    margin-top: 15px;
  }
}
