.btn {
  background: $color-dark;
  border: none;
  border-radius: 0;
  color: $color-light;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: 1.3;
  overflow: hidden;
  padding: 16px 26px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    transition: transform 150ms ease-in-out;
    z-index: -1;
  }

  &:hover {
    background-position: right center;
    border: none;
    border-radius: 0;
    color: $color-light;
    cursor: pointer;

    &:before {
      transform: translateX(50%);
    }
  }

  &:disabled,.disabled {
    opacity: 0.25;

    &:hover {
      cursor: auto;

      &:before {
        transform: none;
      }
    }
  }

  &.btn-primary {
    background: $bg-button--primary-dark;

    &:before {
      background: $bg-button--primary;
    }

    &:not(:disabled):not(.disabled):active {
      background: $bg-button--primary-dark;
    }
  }

  &.btn-secondary {
    background: $bg-button--secondary-dark;

    &:before {
      background: $bg-button--secondary;
    }

    &:not(:disabled):not(.disabled):active {
      background: $bg-button--secondary-dark;
    }
  }
}
