h1 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-small * 2;
  }
}

h2 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-h3;
  }
}

h3 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-h4;
  }
}

h4 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-base;
  }
}

a {
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 15%);
  }
}
