h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-h2;
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-h3;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-medium;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-h4;
  }
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-medium;

  @include breakpoint(false, $break-sm--min) {
    font-size: $font-size-base;
  }
}

a {
  color: $color-link;
  font-weight: $font-weight-medium;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $border-link;
    color: $color-link;
    text-decoration: none;
  }
}

p {
  margin: 0;
  padding-bottom: 20px;
}
