@for $i from 10 through 60 {
  @if $i % 5 == 0 {
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }

    .mt-#{$i} {
      margin-top: #{$i}px;
    }

    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }

    .pt-#{$i} {
      padding-top: #{$i}px;
    }
  }
}

@for $i from 5 through 20 {
  @if $i % 5 == 0 {
    .mr-#{$i} {
      margin-right: #{$i}px;
    }

    .ml-#{$i} {
      margin-left: #{$i}px;
    }

    .pr-#{$i} {
      padding-right: #{$i}px;
    }

    .pl-#{$i} {
      padding-left: #{$i}px;
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.ds {
  &-block {
    display: block;
    width: 100%;
  }

  &-flex {
    display: flex;
  }
}
