// BIEMMM importing bootstrap, because why reinvent the wheel?
@import "bootstrap/bootstrap";

// Imports
@import "variables";
@import "mixins";
@import "util";

// Atoms
@import "atoms/buttons";
@import "atoms/typography";

// Molecules
@import "molecules/form-control";
@import "molecules/cards";

// Organisms
@import "organisms/blocks";
@import "organisms/jumbotron";
@import "organisms/navbar";
@import "organisms/footer";

body {
  background: $bg-body;
  color: $color-light;
  font-family: $font-family-base;
}

.color-dark {
  color: $color-dark;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}
