// Imports
@import "variables";
@import "mixins";
@import "util";

// Atoms
@import "atoms/buttons";
@import "atoms/typography";

// Organisms
@import "organisms/jumbotron";
@import "organisms/navbar";

body {
  background: $bg-body;
  color: $color-light;
  font-family: $font-family-base;
}
