{% extends 'shared/jumbotron/_jumbotron.html.twig' %}

{% block picture %}
    {% import 'macro/_picture_element.html.twig' as picture %}
    {#TODO: make proper image-cut for each breakpoint#}
    {{ picture.picture_element(
        'homepagina jumbotron background',
        'images/hero/background_default.jpg',
        'images/hero/background_default.jpg',
        'images/hero/background_default.jpg'
    ) }}
{% endblock %}

{% block title %}
    <h1 class="mt-4">Zoek car meetings bij jouw in de buurt.</h1>
{% endblock %}

{% block subtext %}
    <p>Of organiseer zelf snel en gemakkelijk een event voor je vrienden!</p>
{% endblock %}
