{% extends 'shared/jumbotron/_jumbotron_inline.html.twig' %}

{% block picture %}
    {% import 'macro/_picture_element.html.twig' as picture %}
    {{ picture.picture_element(
        'homepagina jumbotron background',
        'images/hero/hero_xs.jpg',
        'images/hero/hero_md.jpg',
        'images/hero/hero_lg.jpg'
    ) }}
{% endblock %}

{% block hero_overlay %}
    <div class="jumbotron__overlay jumbotron__overlay--full"></div>
{% endblock %}
