{% extends 'base.html.twig' %}

{% block title %}Homepagina{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-20">
                <h1>Testing homepage</h1>
            </div>
            <div class="col-12 mb-20">
                <h2>Testing homepage</h2>
            </div>
            <div class="col-12 mb-20">
                <h3>Testing homepage</h3>
            </div>
            <div class="col-12 mb-20">
                <h4>Testing homepage</h4>
            </div>
            <div class="col-12 mb-20">
                <p>Lorem ipsum dolor sit amet, <span class="font-italic">consectetur adipiscing elit</span>. Aliquam
                    quis arcu eget enim imperdiet imperdiet. Nulla iaculis, nibh sed aliquet efficitur, sem felis
                    hendrerit mi, molestie gravida velit
                    purus at nibh. Donec elit lorem, <a href="#">aliquam ut mauris non</a>, suscipit egestas tellus.
                    Quisque nec sagittis lorem. <span class="text-uppercase">Donec et elit massa</span>. Mauris nec
                    ullamcorper leo,
                    ut mollis orci. Maecenas eleifend eleifend eleifend. Quisque dignissim pretium odio, quis dignissim
                    nunc rutrum vitae.</p>
            </div>
        </div>
    </div>
{% endblock %}